flows5.json
[{"id":"1ee2d9b9.7e91c6","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"69dca740.2a3048","type":"http in","z":"1ee2d9b9.7e91c6","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["6aed15ba.cdfc8c"]]},{"id":"8f7a7298.02803","type":"rpi-gpio in","z":"1ee2d9b9.7e91c6","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":130,"y":260,"wires":[["efbe52d2.8c2f9"]]},{"id":"efbe52d2.8c2f9","type":"function","z":"1ee2d9b9.7e91c6","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["a292f1b3.1d5db"]]},{"id":"6aed15ba.cdfc8c","type":"function","z":"1ee2d9b9.7e91c6","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["2c2ed7f5.e9cc98","a292f1b3.1d5db"]]},{"id":"2c2ed7f5.e9cc98","type":"http response","z":"1ee2d9b9.7e91c6","name":"","statusCode":"","headers":{},"x":500,"y":80,"wires":[]},{"id":"a292f1b3.1d5db","type":"debug","z":"1ee2d9b9.7e91c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":200,"wires":[]}]