flows6.json
[{"id":"ef3309f4.956788","type":"http in","z":"53cab157.a1e6c","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":100,"y":220,"wires":[["f642572.c9afba8","3c110fd5.59513"]]},{"id":"f642572.c9afba8","type":"function","z":"53cab157.a1e6c","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["9311f2a5.35c4e"]]},{"id":"9311f2a5.35c4e","type":"rpi-gpio out","z":"53cab157.a1e6c","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":440,"y":280,"wires":[]},{"id":"3c110fd5.59513","type":"function","z":"53cab157.a1e6c","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["25f8556f.2c723a","1e68f95a.d8ef97"]]},{"id":"1e68f95a.d8ef97","type":"debug","z":"53cab157.a1e6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]},{"id":"25f8556f.2c723a","type":"http response","z":"53cab157.a1e6c","name":"","statusCode":"","headers":{},"x":710,"y":140,"wires":[]},{"id":"2bd3c86a.192548","type":"http in","z":"53cab157.a1e6c","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":380,"wires":[["bca030ad.eaf6c","98399482.852868"]]},{"id":"bca030ad.eaf6c","type":"function","z":"53cab157.a1e6c","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["9311f2a5.35c4e"]]},{"id":"98399482.852868","type":"function","z":"53cab157.a1e6c","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["1e68f95a.d8ef97","25f8556f.2c723a"]]}]