flows.json
[{"id":"203fff83.d543e","type":"rpi-gpio in","z":"d1825794.fe89b8","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":50,"y":260,"wires":[["9189a421.f76068","2f2304e3.0cc5dc"]]},{"id":"2f2304e3.0cc5dc","type":"switch","z":"d1825794.fe89b8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":320,"wires":[["25d44521.88f85a"],["4431b894.be7398"]]},{"id":"25d44521.88f85a","type":"change","z":"d1825794.fe89b8","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":260,"wires":[["9fb94926.930248"]]},{"id":"9189a421.f76068","type":"debug","z":"d1825794.fe89b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":120,"wires":[]},{"id":"4431b894.be7398","type":"change","z":"d1825794.fe89b8","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["9fb94926.930248"]]},{"id":"9fb94926.930248","type":"rpi-gpio out","z":"d1825794.fe89b8","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":610,"y":300,"wires":[]}]