flows3.json
[{"id":"842bf13f.93366","type":"inject","z":"12b1d1c2.3bdf0e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":200,"wires":[["bcd07b6a.fdca28"]]},{"id":"bcd07b6a.fdca28","type":"function","z":"12b1d1c2.3bdf0e","name":"Payload","func":"msg.headers={\n    deviceKey:\"IaHQC4KoEZ43gbfi\"\n    };\nmsg.payload=\"Temperature,,25.3\"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["83318922.2c5c48"]]},{"id":"83318922.2c5c48","type":"http request","z":"12b1d1c2.3bdf0e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Dm7VYKcn/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":320,"wires":[["80a9ea75.68eb38","2ee4d6c1.f3deaa"]]},{"id":"80a9ea75.68eb38","type":"http response","z":"12b1d1c2.3bdf0e","name":"","statusCode":"","headers":{},"x":490,"y":340,"wires":[]},{"id":"2ee4d6c1.f3deaa","type":"debug","z":"12b1d1c2.3bdf0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":240,"wires":[]}]