flows2.json
[{"id":"d1aebe59.420fd","type":"inject","z":"2fa6d51c.0bbf2a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":140,"wires":[["ee31c41c.fe0398"]]},{"id":"ee31c41c.fe0398","type":"function","z":"2fa6d51c.0bbf2a","name":"Payload","func":"msg.headers={\n    deviceKey:\"IaHQC4KoEZ43gbfi\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["754b4e74.54f48"]]},{"id":"754b4e74.54f48","type":"http request","z":"2fa6d51c.0bbf2a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/Dm7VYKcn/datachannels/DataChannelID/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":240,"wires":[["149b87bf.5c01f8","407d5a12.7f3294"]]},{"id":"407d5a12.7f3294","type":"debug","z":"2fa6d51c.0bbf2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":360,"wires":[]},{"id":"149b87bf.5c01f8","type":"http response","z":"2fa6d51c.0bbf2a","name":"","statusCode":"","headers":{},"x":560,"y":260,"wires":[]}]