flows4.json
[{"id":"feb4784.641ca88","type":"http in","z":"8c960e74.7b6de","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":260,"wires":[["878060d0.4029c"]]},{"id":"878060d0.4029c","type":"random","z":"8c960e74.7b6de","name":"","low":"1","high":"10","inte":"true","property":"payload","x":240,"y":260,"wires":[["c26c6b05.c26b78","97dbd761.7cdb58"]]},{"id":"c26c6b05.c26b78","type":"http response","z":"8c960e74.7b6de","name":"","statusCode":"","headers":{},"x":390,"y":220,"wires":[]},{"id":"97dbd761.7cdb58","type":"debug","z":"8c960e74.7b6de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":320,"wires":[]}]